:root {
  --primary-font-color: #044a42;
  --primary-background-color: #f2f9f1;
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --accent-font: "Comfortaa", cursive;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-font-color);
}
h2 {
  font-family: var(--accent-font);
  font-size: 150px;
  opacity: 0.14;
}
h1 {
  font-family: var(--primary-font);
  font-size: 75px;
}
h3 {
  font-family: var(--secondary-font);
  font-size: 50px;
  opacity: 0.9;
  padding-bottom: 20px;
}
h4 {
  font-family: var(--primary-font);
  font-size: 55px;
}
p {
  font-family: var(--secondary-font);
  color: var(--primary-font-color);
  font-size: 25px;
  font-weight: lighter;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding-top: 20px;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  color: #044a42;
}
nav a :hover {
  text-decoration: underline;
  color: #044a42;
}
nav li.active a {
  opacity: 0.5;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.hero {
  background: var(--primary-background-color);
  text-align: center;
  padding: 50px 0px;
}

.text-section {
  background-color: var(--primary-background-color);
}
.text-section h2 {
  text-align: center;
  padding: 10px;
  margin: 0;
}
.text-section h1 {
  font-size: 35px;
  padding-top: 20px;
}
.text-section p {
  line-height: 1.5;
  padding: 40px 0px;
  font-size: 25px;
}
.button {
  margin-top: 55px;
  padding-bottom: 60px;
}
.btn-branding {
  background: #044a42;
  color: white;
  border-radius: 4px;
  font-size: 40px;
  padding: 15px 30px;
  font-family: var(--primary-font);
  text-decoration: none;
}

.btn-branding:hover {
  color: #044a42;
  background: #f2f9f1;
  transition: 150ms ease-in-out;
  text-decoration: none;
  border: solid #044a42;
  transition: 150ms ease-in-out;
}

.btn-project {
  color: var(--primary-font-color);
  outline: 1px solid var(--primary-font-color);
  border-radius: 4px;
  font-size: 20px;
  margin-top: 50px;
  padding: 15px 30px;
  font-family: var(--primary-font);
}

.btn-project:hover {
  color: white;
  background: #044a42;
  transition: 150ms ease-in-out;
  text-decoration: none;

  transition: 150ms ease-in-out;
}
.project-description {
  padding: 5px 20px 20px 20px;
  text-align: center;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: #044a42;
  font-size: 24px;
  margin-top: 20px;
}
footer .email-link:hover {
  color: black;
}
footer .contact-box {
  background: var(--primary-background-color);
  padding: 40px 0;
}
footer .social-links a {
  margin: 20px;
  color: #044a42;
  background: #f2f9f1;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: #f2f9f1;
  background: #044a42;
  transition: 150ms ease-in-out;
}
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
    padding-bottom: 0px;
  }
  h4 {
    font-size: 30px;
    padding: 0px;
  }
  p,
  .text-section p {
    font-size: 15px;
  }
  .btn-branding {
    font-size: 20px;
  }
  btn.btn-project {
    font-size: 20px;
  }
}
